body {
  margin: 0;
  padding: 0;
  background-image: url(bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  
}

/* Colors */
.primary_btn {
  background-color: #c96b00;
  color: white;
}

.primary_btn:hover {
  background-color: white;
  color: black;
}

.outline_btn {
  box-sizing: border-box;
  /* Color Palette/Text-White */
  border: 1px solid rgb(244, 244, 244);
  border-radius: 6px;
  color: white;
}
.outline_btn:hover {
  background-color: white;
  color: black;
}

/* Fonts */
@font-face {
  font-family: "Rufina";
  src: url("fonts/Rufina-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Rufina";
  src: url("fonts/Rufina-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Avenir";
  src: url("fonts/AvenirNextCyr-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Avenir";
  src: url("fonts/AvenirNextCyr-Thin.ttf") format("truetype");
  font-weight: thin;
  font-style: normal;
}

.fs-1 {
  font-size: 16px;
}
.fs-2 {
  font-size: 36px;
}

.fs-3 {
  font-size: 20px;
}

@media (max-width: 1100px) {
  .fs-2 {
    font-size: 23px !important;
  }
}

@media (max-width: 850px) {
  .fs-2 {
    font-size: 18px !important;
  }
  .fs-3 {
    font-size: 18px !important;
  }
}

@media (max-width: 450px) {
  .fs-2 {
    font-size: 22px !important;
  }
  .fs-3 {
    font-size: 16px !important;
  }
}

.rufina-regular {
  font-family: "Rufina";
  font-weight: normal;
}

.rufina-bold {
  font-family: "Rufina";
  font-weight: bold;
}

.av-regular {
  font-family: "Avenir";
  font-weight: normal;
}

.av-thin {
  font-family: "Avenir";
  font-weight: thin;
}

/* Styling */
.background-blur {
  border-radius: 16px;

  backdrop-filter: blur(16px);
  background: rgba(255, 255, 255, 0.16);
}

.heroSection__container {
  height: calc(100vh - 200px);
}

@media (max-width: 720px) {
  .heroSection__container {
    height: calc(100vh - 400px);
  }
}

.heroSection__heading h1 {
  font-size: 96px;
  text-align: center;
  max-width: 90%;
}

.heroSection__heading p {
  font-size: 36px;
  text-align: center;
  max-width: 70%;
}

@media (max-width: 1195px) {
  .heroSection__heading h1 {
    font-size: 50px;
  }
  .heroSection__heading p {
    font-size: 20px;
  }
}
@media (max-width: 550px) {
  .heroSection__heading h1 {
    font-size: 30px;
  }
  .heroSection__heading p {
    font-size: 16px;
    max-width: 95%;
  }
}

/* Video Section Container */
.videoSection__container {
  margin-top: 160px;
}
.videoSection__container h2 {
  font-size: 48px;
  font-weight: bold;
}

@media (max-width: 980px) {
  .videoSection__container iframe {
    width: 100%;
    height: 300px;
  }
}

@media (max-width: 660px) {
  .videoSection__container h2 {
    font-size: 33px;
  }
  .videoSection__container {
    margin-top: 90px;
  }
}

@media (max-width: 400px) {
  .videoSection__container h2 {
    font-size: 24px;
  }
}

/* Skills Section Start */
.skillsSection__container {
  margin-top: 160px;
  margin-bottom: 100px;
}
.skillsSection__container h2 {
  font-size: 48px;
  font-weight: bold;
}
.skills {
  max-width: 80%;
  margin: auto;
}
.skill_card {
  box-sizing: border-box;
  border: 1px solid rgb(0, 194, 255);
  border-radius: 25px;
  background: rgba(0, 194, 255, 0.04);
  width: 210px;
  height: 160px;
  margin-right: 40px;
  color: rgb(0, 194, 255);
  font-weight: bold;
  text-transform: uppercase;
}

.skill_card span {
  margin-top: 25px;
}
/* Skills Section End */

/* Carousel Section Start */
.project_container h2 {
  font-size: 48px;
  font-weight: bold;
}
.carousel {
  width: 90%; /* Adjust to show more or less of the next slide */
  margin: auto;
  overflow: visible;
}

.carousel_image > a > img {
  width: 280px;
  height: 280px;
}

.carousel-inner {
  position: relative;
}

.carousel-item {
  transition: opacity 1s ease-in-out;
}

.carousel-fade .carousel-item {
  opacity: 0;
  transition-duration: 0.8s;
}

.carousel-fade .carousel-item.active {
  opacity: 1;
}

.carousel-fade .carousel-item-next,
.carousel-fade .carousel-item-prev {
  display: block;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}
/* Carousel Section End */

/* About Me Section Start */
.about-section {
  background: linear-gradient(to bottom, #004d79, #0082c8); /* Blue gradient */
  padding: 50px 0;
  color: white;
  position: relative;
  margin-top: 20%;
}

.about-image {
  width: 100%;
  max-width: 400px;
  position: absolute;
  top: -46.8%;
}

.about-content {
  background-color: rgba(255, 255, 255, 0.1); /* Light transparent box */
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.about-title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.about-content p {
  font-size: 1rem;
  line-height: 1.8;
  margin-bottom: 15px;
}
/* About Me End */

/* Footer Start */
.footer {
  /* yuvrajpatel.pro/Swamp */
  background: rgb(0, 23, 31);
  padding-top: 50px;
  padding-bottom: 50px;
}

/* Footer End */

.footer_links > a {
  text-decoration: none;
  color: white;
  margin-right: 10px;
}

/* Laptop/Desktop View (max-width: 1440px) */
@media (max-width: 1440px) {
  .fs-2 {
    font-size: calc(36px * 0.75);
  }
  .fs-3 {
    font-size: calc(20px * 0.75);
  }

  .heroSection__container {
    height: calc((100vh - 200px) * 0.75);
  }

  .heroSection__heading h1 {
    font-size: calc(96px * 0.75);
  }

  .heroSection__heading p {
    font-size: calc(36px * 0.75);
  }

  .videoSection__container {
    margin-top: calc(160px * 0.75);
  }

  .videoSection__container h2 {
    font-size: calc(48px * 0.75);
  }

  .skillsSection__container {
    margin-top: calc(160px * 0.75);
    margin-bottom: calc(100px * 0.75);
  }

  .skillsSection__container h2 {
    font-size: calc(48px * 0.75);
  }

  .skill_card {
    width: calc(210px * 0.75);
    height: calc(160px * 0.75);
    margin-right: calc(40px * 0.75);
  }

  .carousel_image > img {
    width: calc(280px * 0.75);
    height: calc(280px * 0.75);
  }

  .about-section {
    margin-top: calc(20% * 0.75);
    padding: calc(50px * 0.75) 0;
  }

  .about-image {
    top: calc(-46.8% * 0.75);
    max-width: calc(400px * 0.75);
  }

  .about-content {
    padding: calc(30px * 0.75);
    border-radius: calc(15px * 0.75);
  }

  .about-title {
    font-size: calc(2.5rem * 0.75);
  }

  .about-content p {
    font-size: calc(1rem * 0.75);
  }

  .footer {
    padding-top: calc(50px * 0.75);
    padding-bottom: calc(50px * 0.75);
  }
}

/* Tablet/Laptop View (max-width: 1024px) */
@media (max-width: 1024px) {
  .fs-2 {
    font-size: calc(36px * 0.5333);
  }
  .fs-3 {
    font-size: calc(20px * 0.5333);
  }

  .heroSection__container {
    height: calc((100vh - 200px) * 0.5333);
  }

  .heroSection__heading h1 {
    font-size: calc(96px * 0.5333);
  }

  .heroSection__heading p {
    font-size: calc(36px * 0.5333);
  }

  .videoSection__container {
    margin-top: calc(160px * 0.5333);
  }

  .videoSection__container h2 {
    font-size: calc(48px * 0.5333);
  }

  .skillsSection__container {
    margin-top: calc(160px * 0.5333);
    margin-bottom: calc(100px * 0.5333);
  }

  .skillsSection__container h2 {
    font-size: calc(48px * 0.5333);
  }

  .skill_card {
    width: calc(210px * 0.5333);
    height: calc(160px * 0.5333);
    margin-right: calc(40px * 0.5333);
  }

  .carousel_image > img {
    width: calc(280px * 0.5333);
    height: calc(280px * 0.5333);
  }

  .about-section {
    margin-top: calc(20% * 0.5333);
    padding: calc(50px * 0.5333) 0;
  }

  .about-image {
    top: calc(-46.8% * 0.5333);
    max-width: calc(400px * 0.5333);
  }

  .about-content {
    padding: calc(30px * 0.5333);
    border-radius: calc(15px * 0.5333);
  }

  .about-title {
    font-size: calc(2.5rem * 0.5333);
  }

  .about-content p {
    font-size: calc(1rem * 0.5333);
  }

  .footer {
    padding-top: calc(50px * 0.5333);
    padding-bottom: calc(50px * 0.5333);
  }
}

/* Tablet View (max-width: 768px) */
@media (max-width: 768px) {
  .fs-2 {
    font-size: calc(36px * 0.4);
  }
  .fs-3 {
    font-size: calc(20px * 0.4);
  }

  .heroSection__container {
    height: calc((100vh - 200px) * 0.4);
  }

  .heroSection__heading h1 {
    font-size: calc(96px * 0.4);
  }

  .heroSection__heading p {
    font-size: calc(36px * 0.4);
  }

  .videoSection__container {
    margin-top: calc(160px * 0.4);
  }

  .videoSection__container h2 {
    font-size: calc(48px * 0.4);
  }

  .skillsSection__container {
    margin-top: calc(160px * 0.4);
    margin-bottom: calc(100px * 0.4);
  }

  .skillsSection__container h2 {
    font-size: calc(48px * 0.4);
  }

  .skill_card {
    width: calc(210px * 0.4);
    height: calc(160px * 0.4);
    margin-right: calc(40px * 0.4);
  }

  .carousel_image > img {
    width: calc(280px * 0.4);
    height: calc(280px * 0.4);
  }

  .about-section {
    margin-top: calc(20% * 0.4);
    padding: calc(50px * 0.4) 0;
  }

  .about-image {
    top: calc(-46.8% * 0.4);
    max-width: calc(400px * 0.4);
  }

  .about-content {
    padding: calc(30px * 0.4);
    border-radius: calc(15px * 0.4);
  }

  .about-title {
    font-size: calc(2.5rem * 0.4);
  }

  .about-content p {
    font-size: calc(1rem * 0.4);
  }

  .footer {
    padding-top: calc(50px * 0.4);
    padding-bottom: calc(50px * 0.4);
  }
}

